<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="page_blank :: head">

</head>

<body>
	<div th:replace="page_blank :: header"></div>

	<div th:insert="page_blank :: sidebar"></div>

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Dashboard</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="authen.html">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</nav>
		</div>
		<div th:fragment="content">
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>

			<a class="btn btn-primary" th:href="@{/brands/new}">Thêm Brand mới</a>
			<!-- Vị trí hiển thị bảng -->
			<table class="table">
				<thead>
					<tr>
						<th scope="col">
							<a
								th:href="@{'/brands/page/'+${currentPage}+'?sortBy=id'+'&sortType='+${sortRever}+${keyWord != null?'&keyWord='+keyWord:''}}">
								ID</a>
							<i th:if="${sortType.equals('asc')&&sortBy.equals('id')}" class="fa-solid fa-caret-up"></i>
							<i th:if="${sortType.equals('desc') && sortBy.equals('id')}"
								class="fa-solid fa-caret-down"></i>
						</th>
						<th scope="col">Image</th>
						<th scope="col">
							<a
								th:href="@{'/brands/page/'+${currentPage}+'?sortBy=name'+'&sortType='+${sortRever}+${keyWord != null?'&keyWord='+keyWord:''}}">
								Name
							</a>
							<i th:if="${sortType.equals('asc')&&sortBy.equals('name')}"
								class="fa-solid fa-caret-up"></i>
							<i th:if="${sortType.equals('desc') && sortBy.equals('name')}"
								class="fa-solid fa-caret-down"></i>
						</th>
						<th>
							Danh mục
						</th>

						<th scope="col">Action</th>

					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr th:each="brand : ${listBrand}">
						<th scope="row">[[${brand.id}]]</th>
						<td><img th:src="@{${brand.pathImage}}" width="200px"></td>
						<td scope="row">[[${brand.name}]]</td>
						<td scope="row">
							<th:block th:each="cat : ${brand.categories}">
								<span class="badge bg-secondary">[[${cat.name}]]</span>
							</th:block>
						</td>
						<td>
							<a type="button" class="btn btn-secondary"
								th:href="@{'/brands/detail/'+${brand.id}}">Edit</a>
							<a type="button" class="btn btn-danger"
								th:href="@{'/brands/delete/'+${brand.id}}">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>


			<div th:if="${numberBrand>6}" class="d-flex justify-content-center">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:class="${currentPage==1 ? 'page-item disabled' : 'page-item'}"><a class="page-link"
								th:href="@{'/brands/page/1?'+'sortBy='+${sortBy}+'&sortType='+${sortType}+${keyWord != null?'&keyWord='+keyWord:''}}">First</a>
						</li>
						<li th:class="${currentPage==1 ? 'page-item disabled' : 'page-item'}"><a class="page-link"
								th:href="@{'/brands/page/'+${currentPage-1}+'?sortBy='+${sortBy}+'&sortType='+${sortType}+${keyWord != null?'&keyWord='+keyWord:''}}">Previous</a>
						</li>
						<li th:each="i: ${#numbers.sequence(1,totalPage)}"
							th:class="${currentPage==i? 'page-item active':'page-item'}"><a class="page-link"
								th:href="@{'/brands/page/'+${i}+'?sortBy='+${sortBy}+'&sortType='+${sortType}+${keyWord != null?'&keyWord='+keyWord:''}}">[[${i}]]</a>
						</li>
						<li th:class="${currentPage==totalPage ? 'page-item disabled' : 'page-item'}"><a
								class="page-link"
								th:href="@{'/brands/page/'+${currentPage+1}+'?sortBy='+${sortBy}+'&sortType='+${sortType}+${keyWord != null?'&keyWord='+keyWord:''}}">Next</a>
						</li>
						<li th:class="${currentPage==totalPage ? 'page-item disabled' : 'page-item'}"><a
								class="page-link"
								th:href="@{'/brands/page/'+${totalPage}+'?sortBy='+${sortBy}+'&sortType='+${sortType}+${keyWord != null?'&keyWord='+keyWord:''}}">Last</a>
						</li>
					</ul>
				</nav>
			</div>

		</div>
		<!-- End Page Title -->
	</main>


	<div th:replace="page_blank :: footer"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>
	<div th:replace="page_blank :: js"></div>

</body>

</html>