<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: header(${title})">
</head>

<body>
	<div class="container-fluid">
		<div class="container-fluid">
			<div th:insert="fragment :: menubar"></div>
			<div th:replace="navigation :: search_nav"></div>
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>

			<div class="row">
				<div class="col-sm">
					<div>
						<img id="bigImage" th:src="@{${product.PathImageMain}}" class="img-fluid" index="0" />
					</div>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div class="row justify-content-center">
						<ul class="fans" style="white-space: nowrap; overflow-x: auto;">
							<img style="display: inline-block;" th:src="@{${product.PathImageMain}}" height="50"
								index="0" />
							<th:block th:each="extraImage, status : ${product.productImages}">
								<img style="display: inline-block;" class="border border-secondary p-1"
									th:src="@{${extraImage.PathImageExtra}}" height="50" th:index="${status.count}" />

							</th:block>
						</ul>
					</div>
				</div>




				<div class="col-sm">
					<div>
						<h2>[[${product.name}]]</h2>
					</div>
					<div>
						<span>Brand: [[${product.brand.name}]]</span>
					</div>
					<div th:if="${product.discountPercent <= 0}">
						<span>
							<span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">
								[[${CURRENCY_SYMBOL}]][[${#numbers.formatDecimal(product.price,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
							</span>
							<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">
								[[${#numbers.formatDecimal(product.price,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]
							</span>
						</span>
					</div>
					<div th:if="${product.discountPercent >0}">
						<span style="font-size: large; color: darkred">
							<span>
								<span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">
									[[${CURRENCY_SYMBOL}]][[${#numbers.formatDecimal(product.priceSale,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
								</span>
								<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">
									[[${#numbers.formatDecimal(product.priceSale,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
									[[${CURRENCY_SYMBOL}]]
								</span>
							</span>

						</span>
						<del>
							<span>
								<span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">
									[[${CURRENCY_SYMBOL}]][[${#numbers.formatDecimal(product.price,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
								</span>
								<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">
									[[${#numbers.formatDecimal(product.price,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]
								</span>
							</span>
						</del>
					</div>
					<div>&nbsp;</div>
					<div class="col-sm-2">

						<div>
							<span th:if="${product.inStock && product.quantity>0}" class="text-success"><b>In
									Stock</b></span>
							<span th:unless="${product.inStock && product.quantity>0}" class="text-danger"><b>Out of
									Stock</b></span>
						</div>
						<div class="mt-2">
							<nav>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link linkMinus" href=""><b>-</b></a>
									</li>
									<li class="page-item">
										<input type="number" class="form-control text-center" min="1" step="1" max="1"
											style="width: 55px" />
									</li>
									<li class="page-item">
										<a class="page-link linkPlus" href=""><b>+</b></a>
									</li>
								</ul>
							</nav>
						</div>

						<a class="btn btn-primary"
							th:href="@{'/cart/addToCart/'+${product.id}}">
							Thêm vào giỏ hàng
						</a>


					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-9">
					<div th:utext="${product.shortDescription}"></div>
					<div>
						<hr />
					</div>
					<div>
						<h3>Product Description:</h3>
					</div>
					<div th:utext="${product.fullDescription}"></div>
				</div>

				<div class="col-sm-3">
					<div>
						<hr />
					</div>
					<div>
						<h3>Product Details:</h3>
					</div>
					<th:block th:each="detail : ${product.productDetails}">
						<div>
							<b>[[${detail.name}]]</b>:
							<span>[[${detail.value}]]</span>
						</div>
					</th:block>
				</div>
			</div>








			<div th:insert="fragment :: menubar-footer"></div>
			<footer th:replace="fragment :: footer">
			</footer>
		</div>
	</div>


</body>


</html>