*.blue-icon{
   color : blue;
   text-decoration: none;
}

*.green-icon{
   color : green;
   text-decoration: none;
}

*.icon-Dark{
	color: black;
	 text-decoration: none;
}
*.icon-Green{
	color: green;
	 text-decoration: none;
}
*.icon-White{
	color: white;
	 text-decoration: none;
}
*.icon-Gray{
	color: gray;
	 text-decoration: none;
}
*.icon-Red{
	color: red;
	 text-decoration: none;
}