<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="page_blank :: head">

</head>

<body>
	<div th:replace="page_blank :: header"></div>

	<div th:insert="page_blank :: sidebar"></div>

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Dashboard</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="authen.html">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</nav>
		</div>
		<div th:fragment="content">
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
			<!-- Vị trí hiển thị bảng -->
			<form th:object="${category}" method="post" th:action="@{/categories/new}"
				style="max-width: 700px;margin:0 auto" onsubmit="return checkEmailUnique(this);"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" id="id">

				<div class="border border-secondary rounder p-3">
					<div class="form-group row">
						<label for="name" class="col-sm-4 col-form-label" style="margin-bottom: 20px;">Name</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{name}" id="name" class="form-control" name="name" required>
						</div>

					</div>
					<div class="form-group row">
						<label for="alias" class="col-sm-4 col-form-label" style="margin-bottom: 20px;">Alias</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{alias}" id="alias" class="form-control" name="alias"
								required>
						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Parent Category:</label>
						<div class="col-sm-8">
							<select class="form-control" th:field="*{categoryParent}">
								<option value="0">[No Parent]</option>

								<th:block th:each="cat : ${listCategories}">
									<option th:value="${cat.id}">[[${cat.name}]]</option>
								</th:block>

							</select>
						</div>
					</div>
					<div style="margin-bottom: 10px;"
					></div>
					<div class="mb-3 form-check">

						<label class="form-check-label" for="enable" style="margin-bottom: 20px;">Enable</label>
						<input type="checkbox" class="form-check-input" id="enable" th:field="*{enable}">
					</div>

					<!--					listCategories-->
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Photos :</label>
						<div class="col-sm-8">
							<input type="hidden" th:field="*{image}">
							<th:block th:if="${category.id == null}">
								<input type="file" id="fileImage" accept="image/png,image/jpeg" class="mb-2"
									name="photo" required>
							</th:block>
							<th:block th:if="${category.id != null}">
								<input type="file" id="fileImage" accept="image/png,image/jpeg" class="mb-2"
									name="photo">
							</th:block>

							<!--							<img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}"-->
							<!--								style="width: 100px;" class="img-fluid" />-->
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary m-3">Save</button>
						<a type="button" class="btn btn-secondary" id="buttonCancel" th:href="@{/categories}">Cancel</a>
					</div>



				</div>

			</form>
		</div>
		<!-- End Page Title -->
	</main>


	<div th:replace="page_blank :: footer"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>
	<div th:replace="page_blank :: js"></div>

</body>

</html>