<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

	<div th:fragment="content">
		<form th:action="@{/settings/save_general}" method="post" enctype="multipart/form-data">
			<div class="form-group row m-1">
				<label class="col-sm-4 col-form-label">
					Tên Website:
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="SITE_NAME" th:value="${SITE_NAME}" required>
				</div>
			</div>

			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Copyright (Bản quyền):
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="COPYRIGHT" th:value="${COPYRIGHT}" required>
				</div>
			</div>


			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Logo Website:
				</label>
				<div class="col-sm-8">
					<img id="thumbnail" th:src="@{${SITE_LOGO}}" class="img-fluid">	
					<input type="file" accept="image/jpg, image/png" name="fileImg" id="fileImg">
				</div>
			</div>


			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Loại tiền tệ:
				</label>
				<div class="col-sm-8">
					<select class="form-select" aria-label="Default select example" name="CURRENCY_ID">
						<option th:each="currency : ${listCurrency}" th:selected="(${currency.id} == ${CURRENCY_ID})" th:value="${currency.id}">[[${currency}]]
						</option>
					</select>
				</div>
			</div>

			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Vị trí kí hiệu tiền tệ:
				</label>
				<div class="col-sm-8">
					<select class="form-select" aria-label="Default select example" name="CURRENCY_SYMBOL_POSITION">
						<option th:selected="(${CURRENCY_SYMBOL_POSITION == 'before'})" th:value="before">Trước giá
						</option>
						<option th:selected="(${CURRENCY_SYMBOL_POSITION == 'after'})" th:value="after">Sau giá
						</option>
					</select>
				</div>
			</div>


			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Loại dấu thập phân:
				</label>
				<div class="col-sm-8">
					<select class="form-select" aria-label="Default select example" name="DECIMAL_POINT_TYPE">
						<option th:selected="(${DECIMAL_POINT_TYPE == 'POINT'})" th:value="POINT">Dấu chấm (.)</option>
						<option th:selected="(${DECIMAL_POINT_TYPE == 'COMMA'})" th:value="COMMA">Dấu phẩy (,)</option>
					</select>
				</div>
			</div>


			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Chữ số thập phân:
				</label>
				<div class="col-sm-8">
					<select class="form-select" aria-label="Default select example" name="DECIMAL_DIGITS">
						<option th:selected="(${DECIMAL_DIGITS} == 0)" th:value=0>0</option>
						<option th:selected="(${DECIMAL_DIGITS} == 1)" th:value=1>1</option>
						<option th:selected="(${DECIMAL_DIGITS} == 2)" th:value=2>2</option>
						<option th:selected="(${DECIMAL_DIGITS} == 3)" th:value=3>3</option>
						<option th:selected="(${DECIMAL_DIGITS} == 4)" th:value=4>4</option>
					</select>
				</div>
			</div>


			<div class="form-group row m-2">
				<label class="col-sm-4 col-form-label">
					Kí hiệu phân tách hàng nghìn:
				</label>
				<div class="col-sm-8">

					<select class="form-select" aria-label="Default select example" name="THOUSANDS_POINT_TYPE">
						<option th:selected="(${THOUSANDS_POINT_TYPE == 'POINT'})" th:value="POINT">Dấu chấm (.)</option>
						<option th:selected="(${THOUSANDS_POINT_TYPE == 'COMMA'})" th:value="COMMA">Dấu phẩy (,)</option>
					</select>
				</div>
			</div>
			
			<div class="text-center">
			<button type="submit" class="btn btn-primary m-3">Lưu</button>
			<a type="button" class="btn btn-secondary" id="buttonCancel" th:href="@{/}">Thoát</a>
		</div>

		</form>



	</div>


</body>

</html>