<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="page_blank :: head">

</head>

<body>
	<div th:replace="page_blank :: header"></div>

	<div th:replace="page_blank :: sidebar"></div>

		<main id="main" class="main" th:fragment="main">
			<div class="pagetitle">
				<h1>Dashboard</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="authen.html">Home</a></li>
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
				</nav>
			</div>
			<h1>ADMIN</h1>
			<!-- End Page Title -->
		</main>
		<div th:replace="page_blank :: footer">
			<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
					class="bi bi-arrow-up-short"></i></a>
			<div th:replace="page_blank :: js">

</body>

</html>